<!-- Favorites section -->
<section aria-labelledby="favorites-heading">
  <div class="mx-auto max-w-7xl px-4 py-24 sm:px-6 sm:py-32 lg:px-8">
    <div class="sm:flex sm:items-baseline sm:justify-between">
      <h2 id="favorites-heading" class="text-2xl font-bold tracking-tight text-gray-900">
        {{ section.settings.heading }}
      </h2>
      <a href="#" class="hidden text-sm font-semibold text-indigo-600 hover:text-indigo-500 sm:block">
        {{ section.settings.link }}
        <span aria-hidden="true"> &rarr;</span>
      </a>
    </div>

    <div class="mt-6 grid grid-cols-1 gap-y-10 sm:grid-cols-3 sm:gap-x-6 sm:gap-y-0 lg:gap-x-8">
      {% for product in collections[section.settings.collection].products limit: 3 %}
        <div class="group relative">
          <div class="h-96 w-full overflow-hidden rounded-lg sm:aspect-h-3 sm:aspect-w-2 group-hover:opacity-75 sm:h-auto">
            <img
              src="{{ product.featured_image | image_url }}"
              alt="Model wearing women&#039;s black cotton crewneck tee."
              width=""
              height=""
              class="h-full w-full object-cover object-center"
            >
          </div>
          <h3 class="mt-4 text-base font-semibold text-gray-900">
            <a href="#">
              <span class="absolute inset-0"></span>
              {{ product.title }}
            </a>
          </h3>
          <p class="mt-1 text-sm text-gray-500">
            {{ product.price | money }}
          </p>
        </div>
      {% endfor %}
      {% comment %}
        <div class="group relative">
          <div class="h-96 w-full overflow-hidden rounded-lg sm:aspect-h-3 sm:aspect-w-2 group-hover:opacity-75 sm:h-auto">
            <img
              src="https://tailwindui.com/img/ecommerce-images/home-page-03-favorite-02.jpg"
              alt="Model wearing women&#039;s off-white cotton crewneck tee."
              class="h-full w-full object-cover object-center"
            >
          </div>
          <h3 class="mt-4 text-base font-semibold text-gray-900">
            <a href="#">
              <span class="absolute inset-0"></span>
              Off-White Basic Tee
            </a>
          </h3>
          <p class="mt-1 text-sm text-gray-500">$32</p>
        </div>
      {% endcomment %}
      {% comment %}
        <div class="group relative">
          <div class="h-96 w-full overflow-hidden rounded-lg sm:aspect-h-3 sm:aspect-w-2 group-hover:opacity-75 sm:h-auto">
            <img
              src="https://tailwindui.com/img/ecommerce-images/home-page-03-favorite-03.jpg"
              alt="Model wearing women&#039;s burgundy red crewneck artwork tee with small white triangle overlapping larger black triangle."
              class="h-full w-full object-cover object-center"
            >
          </div>
          <h3 class="mt-4 text-base font-semibold text-gray-900">
            <a href="#">
              <span class="absolute inset-0"></span>
              Mountains Artwork Tee
            </a>
          </h3>
          <p class="mt-1 text-sm text-gray-500">$36</p>
        </div>
      {% endcomment %}
    </div>

    <div class="mt-6 sm:hidden">
      <a href="#" class="block text-sm font-semibold text-indigo-600 hover:text-indigo-500">
        {{ section.settings.link }}
        <span aria-hidden="true"> &rarr;</span>
      </a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Favorites",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Our Favorites"
    },
    {
      "type": "text",
      "id": "link",
      "label": "Link",
      "default": "Browse all favorites"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Favorites",
      "category": "Product",
      "settings": {}
    }
  ]
}
{% endschema %}
