<div id="services" class="py-24 sm:py-32 relative">
  <div
    class="absolute left-1/2 right-0 top-0 -z-10 -ml-24 transform-gpu overflow-hidden blur-3xl lg:ml-24 xl:ml-48"
    aria-hidden="true"
  >
    <div
      class="aspect-[801/1036] w-[50.0625rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30"
      style="clip-path: polygon(63.1% 29.5%, 100% 17.1%, 76.6% 3%, 48.4% 0%, 44.6% 4.7%, 54.5% 25.3%, 59.8% 49%, 55.2% 57.8%, 44.4% 57.2%, 27.8% 47.9%, 35.1% 81.5%, 0% 97.7%, 39.2% 100%, 35.2% 81.4%, 97.2% 52.8%, 63.1% 29.5%)"
    ></div>
  </div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <div>
        <h2 class="text-base font-semibold leading-7 text-indigo-600">{{ section.settings.subtitle }}</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-4xl">
          {{ section.settings.title }}
        </p>
        <p class="mt-6 text-base leading-7 text-gray-600 dark:text-gray-300">
          {{ section.settings.description }}
        </p>
      </div>
      <dl class="col-span-2 grid grid-cols-1 gap-x-8 gap-y-10 text-base leading-7 text-gray-600 dark:text-gray-300 sm:grid-cols-2 lg:gap-y-16">
        {% for block in section.blocks %}
          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900 dark:text-white">
              <svg
                class="absolute left-0 top-1 h-5 w-5 text-indigo-500"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              {{ block.settings.feature_title }}
            </dt>
            <dd class="mt-2">
              {{ block.settings.feature_description }}
            </dd>
          </div>
        {% endfor %}
      </dl>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Feature Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "All-in-one platform"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Everything you need"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione."
    }
  ],
  "max_blocks": 8,
  "blocks": [
    {
      "type": "feauture",
      "name": "Feature",
      "settings": [
        {
          "type": "text",
          "id": "feature_title",
          "label": "Title",
          "default": "Invite team members"
        },
        {
          "type": "textarea",
          "id": "feature_description",
          "label": "Description",
          "default": "Rerum repellat labore necessitatibus reprehenderit molestiae praesentium"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Feature Section",
      "category": "Content",
      "settings": {}
    }
  ]
}
{% endschema %}
