<!-- Featured section -->
<section aria-labelledby="cause-heading">
  <div class="relative bg-gray-800 px-6 py-32 sm:px-12 sm:py-40 lg:px-16">
    <div class="absolute inset-0 overflow-hidden">
      <img
        src="{{  section.settings.image | image_url }}"
        alt=""
        class="h-full w-full object-cover object-center"
        width=""
        height=""
        loading="lazy"
      >
    </div>
    <div aria-hidden="true" class="absolute inset-0 bg-gray-900 bg-opacity-50"></div>
    <div class="relative mx-auto flex max-w-3xl flex-col items-center text-center">
      <h2 id="cause-heading" class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
        {{ section.settings.heading }}
      </h2>
      <p class="mt-3 text-xl text-white">
        {{ section.settings.content }}
      </p>
      <a
        href="{{  section.settings.link }}"
        class="mt-8 block w-full rounded-md border border-transparent bg-white px-8 py-3 text-base font-medium text-gray-900 hover:bg-gray-100 sm:w-auto"
      >
        {{ section.settings.link_text }}
      </a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Long-term thinking"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content",
      "default": "We're committed to responsible, sustainable, and ethical manufacturing. Our small-scale approach allows us to focus on quality and reduce our impact. We're doing our best to delay the inevitable heat-death of the universe."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text",
      "default": "Read our story"
    }
  ]
}
{% endschema %}
