<div class="relative overflow-hidden ">
  <div class="pb-80 pt-16 sm:pb-40 sm:pt-24 lg:pb-10 lg:pt-72  h-screen">
    <div class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8 ">
      <div class="sm:max-w-lg ">
        <h1 class="text-4xl font-bold tracking-tight  text-gray-900 sm:text-6xl">
          {{ section.settings.title }}
        </h1>
        <p class="mt-4 text-xl text-gray-500">
          {{ section.settings.subtitle }}
        </p>
      </div>
      <div>
        <div class="mt-10">
          <!-- Decorative image grid -->
          <div
            aria-hidden="true"
            class="pointer-events-none lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl"
          >
            <div class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
              <div class="flex items-center space-x-6 lg:space-x-8">
                <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="h-64 w-44 overflow-hidden rounded-lg sm:opacity-0 lg:opacity-100">
                    <img
                      src="{{  section.settings.image1 | image_url }}"
                      alt=""
                      class="h-full w-full object-cover object-center"
                      width="0"
                      height="0"
                      loading="eager"
                    >
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img
                      src="{{  section.settings.image2 | image_url }}"
                      alt=""
                      class="h-full w-full object-cover object-center"
                      width="0"
                      height="0"
                      loading="eager"
                    >
                  </div>
                </div>
                <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img
                      src="{{  section.settings.image3 | image_url }}"
                      alt=""
                      class="h-full w-full object-cover object-center"
                      width="0"
                      height="0"
                      loading="eager"
                    >
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img
                      src="{{  section.settings.image4 | image_url }}"
                      alt=""
                      class="h-full w-full object-cover object-center"
                      width="0"
                      height="0"
                      loading="eager"
                    >
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img
                      src="{{  section.settings.image5 | image_url }}"
                      alt=""
                      class="h-full w-full object-cover object-center"
                      width="0"
                      height="0"
                      loading="eager"
                    >
                  </div>
                </div>
                <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img
                      src="{{  section.settings.image6 | image_url }}"
                      alt=""
                      class="h-full w-full object-cover object-center"
                      width="0"
                      height="0"
                      loading="eager"
                    >
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img
                      src="{{  section.settings.image7 | image_url }}"
                      alt=""
                      class="h-full w-full object-cover object-center"
                      width="0"
                      height="0"
                      loading="eager"
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <a
            href="{{ section.settings.button_link }}"
            class="inline-block rounded-md border {{ section.settings.gradient_scheme }} border-transparent  px-8 py-3 text-center cursor-pointer font-medium text-white hover:bg-gradient-to-br"
          >
            {{ section.settings.button }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hero Gallery",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image 2"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Image 3"
    },
    {
      "type": "image_picker",
      "id": "image4",
      "label": "Image 4"
    },
    {
      "type": "image_picker",
      "id": "image5",
      "label": "Image 5"
    },
    {
      "type": "image_picker",
      "id": "image6",
      "label": "Image 6"
    },
    {
      "type": "image_picker",
      "id": "image7",
      "label": "Image 7"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },

    {
      "type": "select",
      "id": "gradient_scheme",
      "label": "Button gradient scheme",
      "options": [
        {
          "value": "bg-gradient-to-r from-cyan-500 to-blue-500",
          "label": "Cyan to blue"
        },
        {
          "value": "bg-gradient-to-br from-pink-500 to-orange-400 ",
          "label": "Pink to orange"
        },
        {
          "value": "bg-gradient-to-tr from-[#9089fc] to-[#ff80b5] ",
          "label": "Purple to pink"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Gallery",
      "category": "Hero"
    }
  ]
}
{% endschema %}
