<div class="dark:bg-black">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <div class="lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8">
      <!-- Image gallery -->
      <div class="flex flex-col-reverse">
        <!-- Image selector -->
        <div class="mx-auto mt-6 hidden w-full max-w-2xl sm:block lg:max-w-none">
          <div class="grid grid-cols-4 gap-6" aria-orientation="horizontal" role="tablist">
            {% for image in product.images limit: 4 %}
              <button
                id="tabs-1-tab-1"
                class="relative flex h-32 cursor-pointer items-center justify-center rounded-md bg-white text-sm font-medium uppercase text-gray-900 hover:bg-gray-50 focus:outline-none focus:ring focus:ring-opacity-50 focus:ring-offset-4"
                aria-controls="tabs-1-panel-1"
                role="tab"
                type="button"
              >
                <span class="sr-only">Angled view</span>
                <span class="absolute inset-0 overflow-hidden rounded-md">
                  <img
                    src="{{ image | image_url }}"
                    width=""
                    height=""
                    loading="eager"
                    alt=""
                    class="h-full w-full object-cover object-center slider-image"
                  >
                </span>
                <!-- Selected: "ring-indigo-500", Not Selected: "ring-transparent" -->
                <span
                  class="ring-transparent pointer-events-none absolute inset-0 rounded-md ring-2 ring-offset-2"
                  aria-hidden="true"
                ></span>
              </button>
            {% endfor %}
            <!-- More images... -->
          </div>
        </div>

        <div class="aspect-h-1 aspect-w-1 w-full">
          <!-- Tab panel, show/hide based on tab state. -->
          <div id="tabs-1-panel-1" aria-labelledby="tabs-1-tab-1" role="tabpanel" tabindex="0">
            <img
              src="{{ product.featured_image | image_url }}"
              id="main-image"
              width=""
              height=""
              loading="eager"
              alt="Angled front view with bag zipped and handles upright."
              class="h-full w-full object-cover object-center sm:rounded-lg"
            >
          </div>

          <!-- More images... -->
        </div>
      </div>

      <!-- Product info -->
      <div class="mt-10 px-4 sm:mt-16 sm:px-0 lg:mt-0">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white">{{ product.title }}</h1>

        <div class="mt-3">
          <h2 class="sr-only">Product information</h2>
          <p id="product-price" class="text-3xl tracking-tight text-gray-900 dark:text-white">
            {{ product.price | money_without_trailing_zeros }}
          </p>
          {% if product.compare_at_price != blank %}
            <span id="compare-price" class="text-lg text-gray-400 line-through">
              Was
              {{- product.compare_at_price | money_without_trailing_zeros -}}
            </span>
          {% endif %}
        </div>

        <div class="mt-6">
          <h3 class="sr-only">Description</h3>

          <div class="space-y-6 text-base text-gray-700 dark:text-gray-300">
            <p>
              {{ product.description | strip_html | truncate: 200 }}
            </p>
          </div>
        </div>

        {% form 'product', product %}
          <div class="mt-10 .product-options">
            <!-- Colors -->
            {% for option in product.options %}
              {% if option == 'Color' %}
                <div>
                  <h3 class="text-sm font-medium text-gray-900">Color</h3>

                  <fieldset class="mt-4">
                    <legend class="sr-only">Choose a color</legend>
                    <div class="flex items-center space-x-3">
                      {% for option in product.options_with_values %}
                        {% if option.name == 'Color' %}
                          {% for value in option.values %}
                            <label class="relative -m-0.5 flex cursor-pointer items-center justify-center rounded-full p-0.5 focus:outline-none ring-gray-400">
                              <input
                                type="radio"
                                name="{{ option.name }}"
                                value="{{ value }}"
                                id="{{ option.name |  handleize }}-{{ value | handleize }}"

                                class="sr-only"
                                {% if value == product.selected_or_first_available_variant.options[forloop.index0] %}
                                  checked
                                {% endif %}
                                aria-labelledby="color-choice-{{ forloop.index }}-label"
                                data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                              >

                              <label class="hidden" for="{{ option.name |  handleize }}-{{ value | handleize }}">
                                {{- value -}}
                              </label>

                              <span id="color-choice-{{ forloop.index }}-label" class="sr-only">
                                {{ value }}
                              </span>

                              <span
                                aria-hidden="true"
                                class="h-8 w-8 bg-white rounded-full border border-black border-opacity-10"
                                style="background-image: url({{ value |  handleize | append: '.png' | file_url}})"
                              ></span>
                            </label>
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                    </div>
                  </fieldset>
                </div>
              {% endif %}
            {% endfor %}

            <!-- Sizes -->
            {% for option in product.options %}
              {% if option == 'Size' %}
                <div class="mt-10">
                  <!-- Sizes -->
                  <div>
                    <h3 class="text-sm font-medium text-gray-900">Size</h3>

                    <fieldset class="mt-4">
                      <legend class="sr-only">Choose a size</legend>
                      <div class="grid grid-cols-4 gap-4 sm:grid-cols-8 lg:grid-cols-4">
                        {% for option in product.options_with_values %}
                          {% if option.name == 'Size' %}
                            {% for value in option.values %}
                              <label class="group relative flex items-center justify-center rounded-md border py-3 px-4 text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6 cursor-pointer bg-white text-gray-900 shadow-sm">
                                <input
                                  type="radio"
                                  name="{{ option.name }}"
                                  value="{{ value }}"
                                  id="{{ option.name |  handleize }}-{{ value | handleize }}"
                                  class="sr-only"
                                  {% if value == product.selected_or_first_available_variant.options[forloop.index0] %}
                                    checked
                                  {% endif %}
                                  aria-labelledby="size-choice-{{ forloop.index }}-label"
                                  data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                                >
                                <span id="size-choice-{{ forloop.index }}-label">{{ value }}</span>
                                <!--
                                  Active: "border", Not Active: "border-2"
                                  Checked: "border-indigo-500", Not Checked: "border-transparent"
                                -->
                                <span
                                  class="pointer-events-none absolute -inset-px rounded-md"
                                  aria-hidden="true"
                                ></span>
                              </label>
                            {% endfor %}
                          {% endif %}
                        {% endfor %}
                      </div>
                    </fieldset>
                  </div>
                </div>
              {% endif %}
            {% endfor %}

            <input id="product-id" type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

            {% assign first_variant = product.selected_or_first_available_variant %}
            <button
              id="add-to-cart"
              type="submit"
              data-variant-id="{{ first_variant.id }}"
              class="mt-10 flex w-full items-center justify-center rounded-md border border-transparent {{ section.settings.gradient_scheme }} px-8 py-3 text-base font-medium text-white hover:bg-gradient-to-bl focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 {% unless first_variant.available %}bg-gray-500 cursor-not-allowed opacity-50{% endunless %}"
              {% unless first_variant.available %}
                disabled
                aria-disabled="true"
              {% endunless %}
            >
              {% if first_variant.available %}
                Add to Cart
              {% else %}
                Out of Stock
              {% endif %}
            </button>
          </div>
        {% endform %}

        <section aria-labelledby="details-heading" class="mt-12">
          <h2 id="details-heading" class="sr-only">Additional details</h2>

          <div class="divide-y divide-gray-200 border-t">
            <div>
              <h3>
                <!-- Expand/collapse question button -->
                <button
                  id="highlights"
                  type="button"
                  class="group relative flex w-full items-center justify-between py-6 text-left accordion-button"
                  aria-controls="disclosure-1"
                  aria-expanded="true"
                  data-open="true"
                >
                  <!-- Open: "text-indigo-600", Closed: "text-gray-900" -->
                  <span class="text-gray-900 text-sm font-medium">Features</span>
                  <span class="ml-6 flex items-center">
                    <!-- Open: "hidden", Closed: "block" -->
                    <svg
                      class="hidden h-6 w-6 text-gray-400 group-hover:text-gray-500 plus-icon"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                    <!-- Open: "block", Closed: "hidden" -->
                    <svg
                      class="block h-6 w-6 text-indigo-400 group-hover:text-indigo-500 minus-icon"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
                    </svg>
                  </span>
                </button>
              </h3>
              <div class="prose prose-sm pb-6" id="disclosure-1">
                <ul role="list" class="list-disc pl-4 text-gray-400">
                  <li>{{ product.metafields.custom.highlight_1.value }}</li>
                  <li>{{ product.metafields.custom.highlight_2.value }}</li>
                  <li>{{ product.metafields.custom.highlight_3.value }}</li>
                  <li>{{ product.metafields.custom.highlight_4.value }}</li>
                  {% if product.metafields.custom.highlight_5.value %}
                    <li>{{ product.metafields.custom.highlight_5.value }}</li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </section>

        {% if product.type != 'Support Package' %}
          <section aria-labelledby="details-heading" class="mt-12">
            <h2 id="details-heading" class="sr-only">Additional details</h2>

            <div class="divide-y divide-gray-200 border-t">
              <div>
                <h3>
                  <!-- Expand/collapse question button -->
                  <button
                    id="size-chart"
                    type="button"
                    class="group  relative flex w-full items-center justify-between py-6 text-left accordion-button"
                    aria-controls="disclosure-2"
                    aria-expanded="false"
                    data-open="false"
                  >
                    <!-- Open: "text-indigo-600", Closed: "text-gray-900" -->
                    <span class="text-gray-900 text-sm font-medium">Size Chart</span>
                    <span class="ml-6 flex items-center">
                      <!-- Open: "hidden", Closed: "block" -->
                      <svg
                        class="hidden h-6 w-6 text-gray-400 group-hover:text-gray-500 plus-icon"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                      >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                      </svg>
                      <!-- Open: "block", Closed: "hidden" -->
                      <svg
                        class="block h-6 w-6 text-indigo-400 group-hover:text-indigo-500 minus-icon"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                      >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
                      </svg>
                    </span>
                  </button>
                </h3>
              </div>
              <div class="prose prose-sm pb-6 hidden text-gray-400" id="disclosure-2">
                {{ product.metafields.custom.size_chart.value }}
              </div>

              <!-- More sections... -->
            </div>
          </section>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% javascript %}
  // Accordion
  document.querySelectorAll('.accordion-button').forEach((button) => {
    button.addEventListener('click', () => {
      const isOpen = button.getAttribute('data-open') === 'true';
      const content = document.querySelector(`#${button.getAttribute('aria-controls')}`);
      const plusIcon = button.querySelector('.plus-icon');
      const minusIcon = button.querySelector('.minus-icon');

      content.classList.toggle('hidden');
      plusIcon.classList.toggle('hidden');
      minusIcon.classList.toggle('hidden');
      button.setAttribute('data-open', !isOpen);
    });
  });

  // Image selector
  document.querySelectorAll('.slider-image').forEach((image) => {
    image.addEventListener('click', () => {
      const mainImage = document.getElementById('main-image');
      mainImage.src = image.src;
    });
  });

  // spinner
  document.getElementById('add-to-cart').addEventListener('click', () => {
    const button = document.getElementById('add-to-cart');
    button.innerHTML = `<svg class="mx-auto h-5 w-5 animate-spin text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>`;
    setTimeout(() => {
      button.innerHTML = 'Add to cart'; // Replace this with the original button content
    }, 1000);
  });
{% endjavascript %}

<script>

const product = {{ product | json }};


  document.querySelectorAll('input[type="radio"]').forEach((input) => {
    input.addEventListener('change', () => {
      let selectedOptions = [];
      document.querySelectorAll('input[type="radio"]:checked').forEach((input) => {
        selectedOptions.push(input.value);
      });

      let matchedVariant = product.variants.find((variant) => {
        let pass = true;
        for (let index = 0; index < selectedOptions.length; index++) {
          if (selectedOptions.indexOf(variant.options[index]) === -1) {
            pass = false;
            break;
          }
        }
        return pass;
      });

      // change variant image

      console.log(matchedVariant);

      if (matchedVariant) {
        let mainImage = document.getElementById('main-image');
        mainImage.src = matchedVariant.featured_image.src;
      }

      // change button add to cart depending on stock

      const addToCartButton = document.querySelector('#add-to-cart');
      if (matchedVariant.available === true) {
        addToCartButton.textContent = 'Add to Cart';
        addToCartButton.classList.remove('bg-gray-500', 'cursor-not-allowed', 'opacity-50');
        addToCartButton.disabled = false;
      } else {
        addToCartButton.textContent = 'Out of Stock';
        addToCartButton.classList.add('bg-gray-500', 'cursor-not-allowed', 'opacity-50');
        addToCartButton.disabled = true;
      }

      document.getElementById('product-id').value = matchedVariant.id;

      // change price
      var formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'EUR',
        minimumFractionDigits: 0,
      });

      document.getElementById('product-price').textContent = formatter.format(matchedVariant.price / 100);
      document.getElementById('compare-price').textContent = `Was ${formatter.format(matchedVariant.compare_at_price / 100)}`;

      // change url
      var url = new URL(window.location.href);
      url.searchParams.set('variant', matchedVariant.id);
      console.log(url.toString());
      window.history.replaceState(null, null, url.toString());
    });
  });

  function formatMoney(cents, format) {
  if (typeof cents == "string") {
    cents = cents.replace(".", "");
  }
  var value = "";
  var placeholderRegex = /\{\{\s*(\w+)\s*\}\}/;
  var formatString = format || this.money_format;

  function defaultOption(opt, def) {
    return typeof opt == "undefined" ? def : opt;
  }

  function formatWithDelimiters(number, precision, thousands, decimal) {
    precision = defaultOption(precision, 2);
    thousands = defaultOption(thousands, ",");
    decimal = defaultOption(decimal, ".");

    if (isNaN(number) || number == null) {
      return 0;
    }

    number = (number / 100.0).toFixed(precision);

    var parts = number.split("."),
      dollars = parts[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1" + thousands),
      cents = parts[1] ? decimal + parts[1] : "";

    return dollars + cents;
  }

  switch (formatString.match(placeholderRegex)[1]) {
    case "amount":
      value = formatWithDelimiters(cents, 2);
      break;
    case "amount_no_decimals":
      value = formatWithDelimiters(cents, 0);
      break;
    case "amount_with_comma_separator":
      value = formatWithDelimiters(cents, 2, ".", ",");
      break;
    case "amount_no_decimals_with_comma_separator":
      value = formatWithDelimiters(cents, 0, ".", ",");
      break;
  }

  return formatString.replace(placeholderRegex, value);
}
</script>

<style>
  input[type='radio']:checked ~ span {
    border: 1px solid gray;
  }
</style>

{% schema %}
{
  "name": "Product",
  "settings": [
    {
      "type": "select",
      "id": "gradient_scheme",
      "label": "Button gradient scheme",
      "options": [
        {
          "value": "bg-gradient-to-r from-cyan-500 to-blue-500",
          "label": "Cyan to blue"
        },
        {
          "value": "bg-gradient-to-br from-pink-500 to-orange-400 ",
          "label": "Pink to orange"
        },
        {
          "value": "bg-gradient-to-tr from-[#9089fc] to-[#ff80b5] ",
          "label": "Purple to pink"
        }
      ],
      "default": "bg-gradient-to-r from-cyan-500 to-blue-500"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_vendor",
          "label": "Show vendor",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}
