<div class="bg-white">
  <div class="">
    <div class="relative bg-gray-900">
      <!-- Decorative image and overlay -->
      <div aria-hidden="true" class="absolute inset-0 overflow-hidden">
        {% if collection.image != blank %}
          <img
            src="{{ collection.image | image_url }}"
            loading="eager"
            width=""
            height=""
            alt=""
            class="h-full w-full object-cover object-center"
          >
        {% else %}
          <img
            src="https://cdn.shopify.com/s/files/1/0549/1313/8748/files/pullover-hoodie-mockup-of-a-serious-woman-standing-at-the-beach-26829.jpg?v=1656047179"
            loading="eager"
            width=""
            height=""
            alt=""
            class="h-full w-full object-cover object-center"
          >
        {% endif %}
      </div>
      <div aria-hidden="true" class="absolute inset-0 bg-gray-900 opacity-50"></div>

      <div class="relative mx-auto flex max-w-3xl flex-col items-center px-6 py-32 text-center sm:py-64 lg:px-0">
        <h1 class="text-4xl font-bold tracking-tight text-white lg:text-6xl">
          {{ collection.title }}
          {% if collection.products_count > 0 %}
            <span class="text-gray-500 text-sm">({{ collection.products_count }})</span>
          {% endif %}
        </h1>
        <p class="mt-4 text-xl text-white">
          {% if collection.description != blank %}
            {{ collection.description }}
          {% else %}
            The latest news, articles, and resources, sent to your inbox weekly.
          {% endif %}
        </p>
      </div>
    </div>
  </div>
  <div>
    <!--
      Mobile filter dialog

      Off-canvas menu for mobile, show/hide based on off-canvas menu state.
    -->
    <div class="relative z-40 lg:hidden" role="dialog" aria-modal="true">
      <!--
        Off-canvas menu backdrop, show/hide based on off-canvas menu state.

        Entering: "transition-opacity ease-linear duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "transition-opacity ease-linear duration-300"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div class="fixed inset-0 bg-black bg-opacity-25"></div>

      <div class="fixed inset-0 z-40 flex">
        <!--
          Off-canvas menu, show/hide based on off-canvas menu state.

          Entering: "transition ease-in-out duration-300 transform"
            From: "translate-x-full"
            To: "translate-x-0"
          Leaving: "transition ease-in-out duration-300 transform"
            From: "translate-x-0"
            To: "translate-x-full"
        -->
        <div class="relative ml-auto flex h-full w-full max-w-xs flex-col overflow-y-auto bg-white py-4 pb-6 shadow-xl">
          <div class="flex items-center justify-between px-4">
            <h2 class="text-lg font-medium text-gray-900">Filters</h2>
            <button
              type="button"
              class="relative -mr-2 flex h-10 w-10 items-center justify-center p-2 text-gray-400 hover:text-gray-500"
            >
              <span class="absolute -inset-0.5"></span>
              <span class="sr-only">Close menu</span>
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>

          <!-- Filters -->
          <form class="mt-4">
            <div class="border-t border-gray-200 pb-4 pt-4">
              <fieldset>
                <legend class="w-full px-2">
                  <!-- Expand/collapse section button -->
                  <button
                    type="button"
                    class="flex w-full items-center justify-between p-2 text-gray-400 hover:text-gray-500"
                    aria-controls="filter-section-0"
                    aria-expanded="false"
                  >
                    <span class="text-sm font-medium text-gray-900">Color</span>
                    <span class="ml-6 flex h-7 items-center">
                      <!--
                        Expand/collapse icon, toggle classes based on section open state.

                        Open: "-rotate-180", Closed: "rotate-0"
                      -->
                      <svg
                        class="rotate-0 h-5 w-5 transform"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                      </svg>
                    </span>
                  </button>
                </legend>
                <div class="px-4 pb-2 pt-4" id="filter-section-0">
                  <div class="space-y-6">
                    <div class="flex items-center">
                      <input
                        id="color-0-mobile"
                        name="color[]"
                        value="white"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                      >
                      <label for="color-0-mobile" class="ml-3 text-sm text-gray-500">White</label>
                    </div>
                    <div class="flex items-center">
                      <input
                        id="color-1-mobile"
                        name="color[]"
                        value="beige"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                      >
                      <label for="color-1-mobile" class="ml-3 text-sm text-gray-500">Beige</label>
                    </div>
                    <div class="flex items-center">
                      <input
                        id="color-2-mobile"
                        name="color[]"
                        value="blue"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                      >
                      <label for="color-2-mobile" class="ml-3 text-sm text-gray-500">Blue</label>
                    </div>
                    <div class="flex items-center">
                      <input
                        id="color-3-mobile"
                        name="color[]"
                        value="brown"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                      >
                      <label for="color-3-mobile" class="ml-3 text-sm text-gray-500">Brown</label>
                    </div>
                    <div class="flex items-center">
                      <input
                        id="color-4-mobile"
                        name="color[]"
                        value="green"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                      >
                      <label for="color-4-mobile" class="ml-3 text-sm text-gray-500">Green</label>
                    </div>
                    <div class="flex items-center">
                      <input
                        id="color-5-mobile"
                        name="color[]"
                        value="purple"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                      >
                      <label for="color-5-mobile" class="ml-3 text-sm text-gray-500">Purple</label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="border-t border-gray-200 pb-4 pt-4">
              <fieldset>
                <legend class="w-full px-2">
                  <!-- Expand/collapse section button -->
                  <button
                    type="button"
                    class="flex w-full items-center justify-between p-2 text-gray-400 hover:text-gray-500"
                    aria-controls="filter-section-1"
                    aria-expanded="false"
                  >
                    <span class="text-sm font-medium text-gray-900">Category</span>
                    <span class="ml-6 flex h-7 items-center">
                      <!--
                        Expand/collapse icon, toggle classes based on section open state.

                        Open: "-rotate-180", Closed: "rotate-0"
                      -->
                      <svg
                        class="rotate-0 h-5 w-5 transform"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                      </svg>
                    </span>
                  </button>
                </legend>
                <div class="px-4 pb-2 pt-4" id="filter-section-1">
                  <div class="space-y-6">
                    <div class="flex items-center">
                      <input
                        id="category-0-mobile"
                        name="category[]"
                        value="new-arrivals"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                      >
                      <label for="category-0-mobile" class="ml-3 text-sm text-gray-500">All New Arrivals</label>
                    </div>
                    <div class="flex items-center">
                      <input
                        id="category-1-mobile"
                        name="category[]"
                        value="tees"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                      >
                      <label for="category-1-mobile" class="ml-3 text-sm text-gray-500">Tees</label>
                    </div>
                    <div class="flex items-center">
                      <input
                        id="category-2-mobile"
                        name="category[]"
                        value="crewnecks"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                      >
                      <label for="category-2-mobile" class="ml-3 text-sm text-gray-500">Crewnecks</label>
                    </div>
                    <div class="flex items-center">
                      <input
                        id="category-3-mobile"
                        name="category[]"
                        value="sweatshirts"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                      >
                      <label for="category-3-mobile" class="ml-3 text-sm text-gray-500">Sweatshirts</label>
                    </div>
                    <div class="flex items-center">
                      <input
                        id="category-4-mobile"
                        name="category[]"
                        value="pants-shorts"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                      >
                      <label for="category-4-mobile" class="ml-3 text-sm text-gray-500">Pants &amp; Shorts</label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="border-t border-gray-200 pb-4 pt-4">
              <fieldset>
                <legend class="w-full px-2">
                  <!-- Expand/collapse section button -->
                  <button
                    type="button"
                    class="flex w-full items-center justify-between p-2 text-gray-400 hover:text-gray-500"
                    aria-controls="filter-section-2"
                    aria-expanded="false"
                  >
                    <span class="text-sm font-medium text-gray-900">Sizes</span>
                    <span class="ml-6 flex h-7 items-center">
                      <!--
                        Expand/collapse icon, toggle classes based on section open state.

                        Open: "-rotate-180", Closed: "rotate-0"
                      -->
                      <svg
                        class="rotate-0 h-5 w-5 transform"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                      </svg>
                    </span>
                  </button>
                </legend>
                <div class="px-4 pb-2 pt-4" id="filter-section-2">
                  <div class="space-y-6">
                    <div class="flex items-center">
                      <input
                        id="sizes-0-mobile"
                        name="sizes[]"
                        value="xs"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                      >
                      <label for="sizes-0-mobile" class="ml-3 text-sm text-gray-500">XS</label>
                    </div>
                    <div class="flex items-center">
                      <input
                        id="sizes-1-mobile"
                        name="sizes[]"
                        value="s"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                      >
                      <label for="sizes-1-mobile" class="ml-3 text-sm text-gray-500">S</label>
                    </div>
                    <div class="flex items-center">
                      <input
                        id="sizes-2-mobile"
                        name="sizes[]"
                        value="m"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                      >
                      <label for="sizes-2-mobile" class="ml-3 text-sm text-gray-500">M</label>
                    </div>
                    <div class="flex items-center">
                      <input
                        id="sizes-3-mobile"
                        name="sizes[]"
                        value="l"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                      >
                      <label for="sizes-3-mobile" class="ml-3 text-sm text-gray-500">L</label>
                    </div>
                    <div class="flex items-center">
                      <input
                        id="sizes-4-mobile"
                        name="sizes[]"
                        value="xl"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                      >
                      <label for="sizes-4-mobile" class="ml-3 text-sm text-gray-500">XL</label>
                    </div>
                    <div class="flex items-center">
                      <input
                        id="sizes-5-mobile"
                        name="sizes[]"
                        value="2xl"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                      >
                      <label for="sizes-5-mobile" class="ml-3 text-sm text-gray-500">2XL</label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="border-b border-gray-200">
      <nav aria-label="Breadcrumb" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <ol role="list" class="flex items-center space-x-4 py-4">
          <li>
            <div class="flex items-center">
              <a href="#" class="mr-4 text-sm font-medium text-gray-900">Men</a>
              <svg viewBox="0 0 6 20" aria-hidden="true" class="h-5 w-auto text-gray-300">
                <path d="M4.878 4.34H3.551L.27 16.532h1.327l3.281-12.19z" fill="currentColor" />
              </svg>
            </div>
          </li>

          <li class="text-sm">
            <a href="#" aria-current="page" class="font-medium text-gray-500 hover:text-gray-600">New Arrivals</a>
          </li>
        </ol>
      </nav>
    </div>

    <main class="mx-auto max-w-2xl px-4 lg:max-w-7xl lg:px-8">
      <div class="border-b border-gray-200 pb-10 pt-24 flex">
        <select
          id="sort-by"
          class="h-10 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
        >
          {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

          {% for option in collection.sort_options %}
            <option
              value="{{ option.value }}"
              {% if option.value == sort_by %}
                selected="selected"
              {% endif %}
            >
              {{ option.name }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="pb-24 pt-12 lg:grid lg:grid-cols-3 lg:gap-x-8 xl:grid-cols-4">
        <aside>
          <form>
            {%- for filter in collection.filters -%}
              <details>
                <summary>
                  <div>
                    <span>{{ filter.label }}</span>

                    {%- if filter.active_values.size > 0 -%}
                      <span>({{ filter.active_values.size }})</span>
                    {%- endif -%}
                  </div>
                </summary>

                <div>
                  <div>
                    <p>{{ filter.active_values.size }} selected</p>
                    {%- if filter.active_values.size > 0 -%}
                      <p><a href="{{ filter.url_to_remove }}">Reset</a></p>
                    {%- endif -%}
                  </div>
                  {%- case filter.type -%}
                    {%- when 'boolean' -%}
                      <ul>
                        <li>
                          <label for="Filter-{{ filter.param_name }}-{{ filter.true_value.value }}">
                            <input
                              type="checkbox"
                              name="{{ filter.param_name }}"
                              value="{{ filter.true_value.value }}"
                              id="Filter-{{ filter.param_name }}"
                              {% if filter.true_value.active -%}
                                checked
                              {%- endif %}
                              {% if filter.true_value.count == 0 and filter.true_value.active == false -%}
                                disabled
                              {%- endif -%}
                            >
                            {{- filter.true_value.label -}}
                          </label>
                        </li>
                        <li>
                          <label for="Filter-{{ filter.param_name }}-{{ filter.false_value.value }}">
                            <input
                              type="checkbox"
                              name="{{ filter.param_name }}"
                              value="{{ filter.false_value.value }}"
                              id="Filter-{{ filter.param_name }}"
                              {% if filter.false_value.active -%}
                                checked
                              {%- endif %}
                              {% if filter.false_value.count == 0 and filter.false_value.active == false -%}
                                disabled
                              {%- endif %}
                            >
                            {{- filter.false_value.label -}}
                          </label>
                        </li>
                      </ul>

                      <div>
                        <input type="submit" value="Apply">
                      </div>
                    {%- when 'list' -%}
                      <ul>
                        {%- for filter_value in filter.values -%}
                          <li>
                            <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                              <input
                                type="checkbox"
                                name="{{ filter_value.param_name }}"
                                value="{{ filter_value.value }}"
                                id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                                {% if filter_value.active -%}
                                  checked
                                {%- endif %}
                                {% if filter_value.count == 0 and filter_value.active == false -%}
                                  disabled
                                {%- endif %}
                              >
                              <span>
                                {%- case filter_value.display.type -%}
                                  {%- when 'colors' -%}
                                    {% liquid
                                      assign size_limit = filter_value.display.value.size | at_most: 4
                                      assign rotation = '0deg'
                                      if size_limit == 2
                                        assign rotation = '45deg'
                                      endif

                                      assign angle_increment = 360 | divided_by: size_limit
                                      assign angle = 0
                                    %}
                                    {%- capture conic_gradient -%}
                                      {%- for color in filter_value.display.value limit: size_limit -%}
                                        {{ color }} {{ angle }}deg{%- assign angle = angle | plus: angle_increment %} {{ angle }}deg{%- unless forloop.last %}, {%- endunless -%}
                                      {%- endfor -%}
                                    {%- endcapture -%}
                                    <span
                                      style="
                                        width: 25px;
                                        height: 25px;
                                        border-radius: 50%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        background: conic-gradient({{ conic_gradient }}); transform: rotateZ({{ rotation }});
                                      "
                                    ></span>
                                  {%- when 'image' -%}
                                    {{
                                      filter_value.display.value
                                      | image_url: width: 25
                                      | image_tag: alt: filter_value.display.value.alt
                                    }}
                                  {%- else -%}
                                    <span class="visual-display__child"></span>
                                {%- endcase -%}
                              </span>
                              {{ filter_value.label }}
                            </label>
                          </li>
                        {%- endfor -%}
                      </ul>

                      <div>
                        <input type="submit" value="Apply">
                      </div>
                    {%- when 'price_range' -%}
                      <div class="filter-group-display__price-range">
                        <div class="filter-group-display__price-range-from">
                          <span>{{ cart.currency.symbol }}</span>

                          <input
                            name="{{ filter.min_value.param_name }}"
                            id="Filter-{{ filter.min_value.param_name }}"
                            {% if filter.min_value.value -%}
                              value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                            {%- endif %}
                            type="number"
                            placeholder="0"
                            min="0"
                            max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                          >

                          <label for="Filter-{{ filter.min_value.param_name }}">From</label>
                        </div>
                        <div class="filter-group-display__price-range-to">
                          <span>{{ cart.currency.symbol }}</span>

                          <input
                            name="{{ filter.max_value.param_name }}"
                            id="Filter-{{ filter.max_value.param_name }}"
                            {% if filter.max_value.value -%}
                              value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                            {%- endif %}
                            type="number"
                            placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                            min="0"
                            max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                          >

                          <label for="Filter-{{ filter.max_value.param_name }}">To</label>
                        </div>
                      </div>

                      <div class="filter-group-display__submit">
                        <input type="submit" value="Apply">
                      </div>
                  {%- endcase -%}
                </div>
              </details>
            {%- endfor -%}

            <div>
              <p><a href="{{ collection.url }}?sort_by={{ collection.sort_by }}">Clear all</a></p>

              {%- for filter in collection.filters -%}
                {%- if filter.type == 'price_range' -%}
                  {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                    <p>
                      <a href="{{ filter.url_to_remove }}">
                        {%- assign min_value = filter.min_value.value | default: 0 -%}
                        {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                        {{ min_value | money }} - {{ max_value | money }} X
                      </a>
                    </p>
                  {%- endif -%}
                {%- else -%}
                  {%- for filter_value in filter.active_values -%}
                    <p>
                      <a href="{{ filter_value.url_to_remove }}"> {{ filter.label }}: {{ filter_value.label }} X </a>
                    </p>
                  {%- endfor -%}
                {%- endif -%}
              {%- endfor -%}
            </div>
          </form>
        </aside>

        {% paginate collection.products by 6 %}
          <section aria-labelledby="product-heading" class="mt-6 lg:col-span-2 lg:mt-0 xl:col-span-3">
            <h2 id="product-heading" class="sr-only">Products</h2>

            <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:gap-x-8 xl:grid-cols-3">
              {% for product in collection.products %}
                <div class="group relative flex flex-col overflow-hidden rounded-lg border border-gray-200 bg-white">
                  <button
                    class="quick-view-button  text-white cursor-pointer px-4 py-2 z-50 bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl left-1/2 transform "
                    data-product-id="{{ product.id }}"
                  >
                    Quick View
                  </button>
                  <div class="aspect-h-4 aspect-w-3 bg-gray-200 sm:aspect-none group-hover:opacity-75 sm:h-96">
                    <a href="{{ product.url }}">
                      <img
                        src="{{ product.featured_image | image_url }}"
                        width=""
                        height=""
                        loading="lazy"
                        alt="Eight shirts arranged on table in black, olive, grey, blue, white, red, mustard, and green."
                        class="h-full w-full relative object-cover object-center sm:h-full sm:w-full"
                      >
                    </a>
                  </div>
                  <div class="flex flex-1 flex-col space-y-2 p-4">
                    <h3 class="text-sm font-medium text-gray-900">
                      <span aria-hidden="true" class="absolute inset-0"></span>
                      {{  }}
                    </h3>
                    <p class="text-sm text-gray-500">
                      {{ product.description | strip_html | truncate: 100 }}
                    </p>
                    <div class="flex flex-1 flex-col justify-end">
                      <p class="text-sm italic text-gray-500">{{ product.variants | size }} Variants</p>
                      <p class="text-base font-medium text-gray-900">{{ product.price | money }}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}

              <!-- More products... -->
            </div>
            {% if paginate.pages > 1 %}
              <nav class="flex items-center justify-between border-t border-gray-200 px-4 sm:px-0">
                <div class="-mt-px flex w-0 flex-1">
                  {% if paginate.previous %}
                    <a
                      href="{{ paginate.previous.url }}"
                      class="inline-flex items-center border-t-2 border-transparent pr-1 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
                    >
                      <svg
                        class="mr-3 h-5 w-5 text-gray-400"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path fill-rule="evenodd" d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z" clip-rule="evenodd" />
                      </svg>
                      Previous
                    </a>
                  {% endif %}
                </div>
                <div class="hidden md:-mt-px md:flex">
                  {% for page in paginate.pages %}
                    <a
                      href="{{ page.url }}"
                      class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
                    >
                      {{- page.title -}}
                    </a>
                  {% endfor %}
                </div>
                <div class="hidden md:-mt-px md:flex">
                  {% for page in paginate.pages %}
                    <a
                      href="{{ page.url }}"
                      class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
                    >
                      {{- page.title -}}
                    </a>
                  {% endfor %}
                  <span class="inline-flex items-center px-4 pt-4 text-sm font-medium text-gray-700">
                    Page {{ paginate.current_page }} of {{ paginate.pages | size }}
                  </span>
                </div>
                <div class="-mt-px flex w-0 flex-1 justify-end">
                  {% if paginate.next %}
                    <a
                      href="{{ paginate.next.url }}"
                      class="inline-flex items-center border-t-2 border-transparent pl-1 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
                    >
                      Next
                      <svg
                        class="ml-3 h-5 w-5 text-gray-400"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd" />
                      </svg>
                    </a>
                  {% endif %}
                </div>
              </nav>
            {% endif %}
          </section>
        {% endpaginate %}
      </div>
    </main>
  </div>
  <div id="quickshow-container"></div>
</div>

{% javascript %}
  Shopify.queryParams = {};

  // Preserve existing query parameters
  if (location.search.length) {
    var params = location.search.substr(1).split('&');

    for (var i = 0; i < params.length; i++) {
      var keyValue = params[i].split('=');

      if (keyValue.length) {
        Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
      }
    }
  }

  // Update sort_by query parameter on select change
  document.querySelector('#sort-by').addEventListener('change', function (e) {
    var value = e.target.value;

    Shopify.queryParams.sort_by = value;
    location.search = new URLSearchParams(Shopify.queryParams).toString();
  });

  // Quick view

  var quickViewButton = document.querySelectorAll('.quick-view-button');

  quickViewButton.forEach((button) => {
    button.addEventListener('click', () => {
      console.log('clicked');
      alert('clicked');
    });
  });
{% endjavascript %}

{% schema %}
{
  "name": "Collection",
  "settings": [
    {
      "type": "header",
      "content": "Collection page"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Collection page"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "The latest news, articles, and resources, sent to your inbox weekly."
    },
    {
      "type": "select",
      "id": "number_of_columns",
      "label": "Number of columns",
      "default": "3",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection",
      "category": "Collection page"
    }
  ]
}
{% endschema %}
```
