<div
  class="isolate overflow-hidden"
  style="
    background-image: url('{{ section.settings.background_image |  image_url }}');
    background-size: cover;
    background-position: {{ section.settings.background-position }};
  "
>
  <div class="mx-auto max-w-7xl px-6 pb-96 pt-24 text-center sm:pt-32 lg:px-8">
    <div class="mx-auto max-w-4xl">
      <h2 class="text-base font-semibold leading-7 text-indigo-400">
        {{ section.settings.subheader }}
      </h2>
      <p class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-5xl">
        {{ section.settings.title }}
        <br class="hidden sm:inline lg:hidden">
      </p>
    </div>
    <div class="relative mt-6">
      <p class="mx-auto max-w-2xl text-lg leading-8 text-white/60">
        {{ section.settings.description }}
      </p>
      <svg
        viewBox="0 0 1208 1024"
        class="absolute top-0 left-1/2 -z-10 h-[64rem] -translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:top-0 md:top-0 lg:top-0 xl:top-0"
      >
        <ellipse cx="604" cy="512" fill="url(#6d1bd035-0dd1-437e-93fa-59d316231eb0)" rx="604" ry="512" />
        <defs>
            <radialGradient id="6d1bd035-0dd1-437e-93fa-59d316231eb0">
                <stop stop-color="#7775D6" />
                <stop offset="1" stop-color="#E935C1" />
            </radialGradient>
        </defs>
      </svg>
    </div>
  </div>
  <div class="flow-root pb-24 sm:pb-32">
    <div class="-mt-80">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto grid max-w-md grid-cols-1 gap-8 lg:max-w-4xl lg:grid-cols-2">
          {% for product in collections[section.settings.packages].products %}
            <div class="flex flex-col justify-between rounded-3xl bg-white dark:bg-black bg-opacity-80 dark:bg-opacity-70 p-8 shadow-xl ring-1 ring-gray-900/10 sm:p-10">
              <div>
                <h3 id="tier-hobby" class="text-base font-semibold leading-7 text-indigo-600">{{ product.title }}</h3>
                <div class="mt-4 flex items-baseline gap-x-2">
                  <span class="text-5xl font-bold tracking-tight text-gray-900 dark:text-white">
                    {{- product.price | money_without_trailing_zeros -}}
                  </span>
                  <span class="text-base font-semibold leading-7 text-gray-600 dark:text-gray-300">/month</span>
                </div>
                <p>
                  Was <span class="line-through">{{ product.compare_at_price | money_without_trailing_zeros }}</span>
                </p>
                <p class="mt-6 text-base leading-7 text-gray-600 dark:text-gray-300">
                  {{ product.description }}
                </p>

                <ul role="list" class="mt-10 space-y-4 text-sm leading-6 text-gray-600 dark:text-gray-300">
                  <li class="flex gap-x-3">
                    <svg
                      class="h-6 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    {{ product.metafields.custom.highlight_1 }}
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-6 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    {{ product.metafields.custom.highlight_2 }}
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-6 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    {{ product.metafields.custom.highlight_3 }}
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-6 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    {{ product.metafields.custom.highlight_4 }}
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-6 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    {{ product.metafields.custom.highlight_5 }}
                  </li>
                </ul>
              </div>
              {% form 'product', product %}
                <a
                  type="submit"
                  value="Add to cart"
                  href="{{ product.url }}"
                  aria-describedby="tier-hobby"
                  class="cursor-pointer mt-8 block rounded-md {{ section.settings.gradient_scheme }} hover:bg-gradient-to-bl px-3.5 py-2 text-center text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                >
                  {{ section.settings.package_button }}
                </a>
              {% endform %}
            </div>
          {% endfor %}

          <div class="flex flex-col items-start gap-x-8 gap-y-6 bg-white dark:bg-black bg-opacity-80 dark:bg-opacity-70 rounded-3xl p-8 ring-1 ring-gray-900/10 sm:gap-y-10 sm:p-10 lg:col-span-2 lg:flex-row lg:items-center">
            <div class="lg:min-w-0 lg:flex-1">
              <h3 class="text-lg font-semibold leading-8 tracking-tight text-indigo-600">
                {{ section.settings.call_title }}
              </h3>
              <p class="mt-1 text-base leading-7 text-gray-600 dark:text-gray-300">
                {{ section.settings.call_description }}
              </p>
            </div>
            <a
              href="{{ section.settings.call_button_url }}"
              class="rounded-md px-3.5 py-2 text-sm font-semibold leading-6 text-indigo-600 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >
              {{ section.settings.call_button }}
              <span aria-hidden="true">&rarr;</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Pricing & Plans",
  "settings": [
    {
      "type": "text",
      "id": "subheader",
      "label": "Subheader",
      "default": "Pricing"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Membership levels"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Choose the plan that works for you"
    },
    {
      "type": "collection",
      "id": "packages",
      "label": "Packages",
      "info": "Select the collection that contains the products you want to display."
    },
    {
      "type": "text",
      "id": "package_button",
      "label": "Package Button",
      "default": "Get started today"
    },
    {
      "type": "select",
      "id": "gradient_scheme",
      "label": "Button gradient scheme",
      "options": [
        {
          "value": "bg-gradient-to-r from-cyan-500 to-blue-500",
          "label": "Cyan to blue"
        },
        {
          "value": "bg-gradient-to-br from-pink-500 to-orange-400 ",
          "label": "Pink to orange"
        },
        {
          "value": "bg-gradient-to-tr from-[#9089fc] to-[#ff80b5] ",
          "label": "Purple to pink"
        }
      ],
      "default": "bg-gradient-to-r from-cyan-500 to-blue-500"
    },
    {
      "type": "text",
      "id": "call_title",
      "label": "Discounted Title",
      "default": "Contact us"
    },
    {
      "type": "text",
      "id": "call_description",
      "label": "Discounted Description",
      "default": "Any questions?. Flexible payment plan. Pause or cancel anytime."
    },
    {
      "type": "text",
      "id": "call_button",
      "label": "Discounted Button",
      "default": "Book a call"
    },
    {
      "type": "url",
      "id": "call_button_url",
      "label": "call Button URL"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "select",
      "id": "background-position",
      "label": "Background Position",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "center"
    }
  ],
  "presets": [
    {
      "category": "pricing",
      "name": "Pricing"
    }
  ]
}
{% endschema %}
